[Unit]
Description=offlineimap sync service

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -u basic
ExecStop=/usr/bin/pkill -f offlineimap
TimeoutSec=100
TimeoutStopSec=120
; Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
