[Unit]
Description=offlineimap sync service
BindsTo=network-online.target
Wants=offlineimap.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o
TimeoutSec=100

[Install]
WantedBy=default.target
