[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "i3-wm-config"]
	path = sainathadapa-i3-config
	url = https://github.com/sainathadapa/i3-wm-config.git
[submodule "Solarized-Acidalia"]
	path = Solarized--Acidalia
	url = https://github.com/ma-santoso/dotfiles.git
[submodule "dotfiles"]
	path = rainbow-stalin
	url = https://github.com/bryanbecker/dotfiles.git
