[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/tmux-continuum"]
	path = tmux/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/alter2000/pandoc
[submodule "fonts"]
	path = fonts
	url = https://github.com/alter2000/fonts
[submodule "vim"]
	path = vim
	url = git@github.com:alter2000/vim
[submodule "icons/Zafiro-icons"]
	path = icons/Zafiro-icons
	url = https://github.com/zayronxio/Zafiro-icons
[submodule "nix"]
	path = nix
	url = git@github.com:alter2000/nixos
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:alter2000/nix-user
