[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pacaur"]
	path = dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur
[submodule "bin/creative-cloud-linux"]
	path = bin/creative-cloud-linux
	url = https://github.com/corbindavenport/creative-cloud-linux/
[submodule "zsh/powerlevel9k"]
	path = zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
