**/*.log
*dump
*.pyc
*.gpg
*.sw[aop]
ansible/playbook.retry
beets/library.db
beets/state.pickle
transmission/
!transmission/config.json
systemd/*.target.wants
vim/uggplug
vim/.netrwhist
vim/session/**
vim/autoload/plug.vim.old
**/*cache*
**/*history
**/*uuid
zathura/zathura-wal
