**/*.log
**/*cache*
**/*history
**/*uuid
*.gpg
*.pyc
*.sw[aop]
*dump
ansible/playbook.retry
beets/library.db
beets/state.pickle
nix/local.nix
systemd/*.target.wants
tags
transmission/
!transmission/config.json
zathura/zathura-wal
ranger/bookmarks*
