configuration {
	modi:		"run,drun";
	window-format:	"{n}";
	width:		50;
	window-command:	 "xkill -id {window}";

	show-icons:	false;

	drun-match-fields:	"name,exec";
	cycle:	false;

	timeout {
		delay:  5;
		action: "kb-cancel";
	}
}

@theme "top-bar"

/* vim:ft=css ts=8
