configuration {
	modi:		"window";
	window-format:	"{w}     {n}";
	/* width:		50; */
	window-command:	 "xkill -id {window}";

	show-icons:	false;
	cycle:	false;
}

@theme "center"

/* vim:ft=css ts=8
