[Unit]
Description=1 minute timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
# can't figure out for the life of me
#OnBootSec= 5min
#OnUnitActiveSec= 1min
OnCalendar=*-*-* *:*:00
Persistent=yes
Unit=offlineimap.service

[Install]
WantedBy=timers.target
