[Unit]
Description=Autolocks the screen after inactivity

[Service]
Type=simple
Environment="PATH=$HOME/.local/bin:$PATH"
ExecStart=lock.sh
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
