[Unit]
Description=offlineimap sync service
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -u basic
TimeoutStopSec=30
; Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
